<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteDestination">Delete</button>
<div class="modal fade" id="deleteDestination" tabindex="-1" aria-labelledby="deleteDestinationLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteDestinationLabel">Delete <%= destination.city %>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form action="/destinations/<%= destination.id %>/?_method=DELETE" method="POST">
                    <input class="btn btn-primary" type="submit" value="Yes">
                </form>
            </div>
        </div>
    </div>
</div>