<h2>About Us</h2>
<span><img class="img-fluid" src="/images/Orvieto.jpeg" alt="orvieto"></span>

<br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h4 class="card-title">Our Technologies</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptates eos, odio aut reiciendis nam omnis modi architecto mollitia dolore est doloribus? Similique sapiente quam velit, autem aperiam voluptatibus quod!
                    Quos, sequi. Quia magnam enim consectetur a quod, tenetur nobis accusamus pariatur! Similique veritatis, sapiente, eius modi eos delectus eaque nihil asperiores odio, itaque distinctio sed voluptatum inventore labore assumenda.
                    Libero inventore accusamus cum sed iure voluptate, odit tempora eligendi consequatur ut! Quam commodi non suscipit inventore numquam rem quos repellat. Doloremque ad fugiat eum commodi beatae impedit libero soluta.</p>
                </div>
            </div>
            <img class="img-fluid" src="/images/Chicago.jpeg" alt="chicago">
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="/images/Engineer.jpeg" alt="me-engineer">
                <h4 class="card-title">Our Engineer</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero nam iure quae praesentium nulla dolore, magni sunt! Repellendus a velit esse, optio officiis quod tenetur delectus quia est? Sed.
                    Perspiciatis nemo exercitationem ipsa dolorum corporis corrupti, adipisci molestiae possimus sit ipsum officia nam consectetur quisquam cum illum, aspernatur cupiditate iure temporibus quidem, eveniet sapiente reiciendis deserunt. Nobis, fugiat corrupti?
                    Accusamus tempora laboriosam unde voluptatum distinctio eius possimus, quod fuga soluta labore eligendi, iste deleniti eum fugit quidem odit! Repellendus eveniet magni impedit blanditiis numquam quis incidunt maxime excepturi perspiciatis!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h4 class="card-title">Our Goals</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur amet labore voluptate. Facilis minus, officiis placeat saepe totam, voluptatem nobis accusantium soluta sint voluptatum quae amet, ab odio consectetur voluptatibus!
                    Eaque assumenda obcaecati, quisquam laboriosam quam doloribus tenetur consectetur odio fugiat in ullam, praesentium animi sunt dolor facilis vero odit quas aliquid et, aspernatur natus repellat illum error ea! Quidem.
                    Voluptates voluptate sequi quas amet incidunt laborum iure hic, culpa rerum ex deleniti. Et cumque libero eum sunt dicta quibusdam soluta? Modi dolor explicabo quia est placeat dolores minus ducimus.</p>
                </div>
                <img class="img-fluid" src="/images/NYC.jpeg" alt="nyc">
            </div>
        </div>
    </div>
</div>