<h2>Gallery Page</h2>

<!-- Displays all Images in DB model -->
<!-- Possible Hover effect for location, else cards only w/ title (name of destination) -->
<!-- if (currentUser) {
    Upload image to s3 then save to DB
} -->