<h2>Gallery</h2>

<br>

<% if (images[0] !== undefined) { %>
    <div class="container">
        <div class="row">
            <% images.forEach(function(image) { %>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="<%= image.url %>" alt="<%= image.place %>">
                        <div class="card-body">
                            <p class="card-title"><%= image.place %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
<% } else { %>
    <h4>No Images Available</h4>
<% } %>

<% if (currentUser) { %>
    <h3>Upload Your Own Photos to Our Gallery</h3>
    <form action="/gallery" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">

        <label for="place" class="form-label">Place:</label>
        <input type="text" class="form-control" id="place" name="place">

        <input type="submit" class="btn btn-primary" value="Upload">
    </form>
<% } %>
