<div class="container">
    <h2>Welcome to TravelRite!</h2>
    
    <span><img src="/images/Italiy Pan.jpeg" alt="Civita" class="img-fluid"></span>

    <div class="card-group">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Mission</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae dolorem modi reprehenderit, quidem rem porro accusamus? Est natus, quaerat aliquam corporis impedit reprehenderit numquam repudiandae repellat recusandae earum dicta atque.
                    Exercitationem deserunt error suscipit neque! Omnis, repudiandae perferendis dolore non doloremque necessitatibus voluptatem illo architecto obcaecati deserunt quas fuga iusto maiores unde repellat sunt officiis dolorum aliquam dignissimos natus atque.
                    Nam, hic! Minima animi quia mollitia quod eum maiores earum tempora ut, quidem autem asperiores eius, expedita molestiae, non distinctio debitis similique! Dolore sit adipisci rem ex culpa perspiciatis quod?
                    Placeat eveniet, maxime natus, enim nemo quas, voluptas ipsum consequuntur odio id ratione! Praesentium consequuntur provident cupiditate reprehenderit voluptates ea accusamus eaque, adipisci quibusdam doloremque, saepe repellendus, sint corporis? Fugiat.
                    Harum, nulla eos voluptatum fugit natus deserunt eveniet iure animi corrupti et sapiente laborum atque cumque quidem voluptatibus magni veniam eaque facilis assumenda id! Eveniet voluptas accusantium eius maiores ea.</p>
                </div>
            </div>
            <img class="card-img img-fluid" src="/images/Salem Willows.jpeg" alt="salem-willows">
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img img-fluid" src="/images/Vineyard.jpeg" alt="orvieto-duomo">
                <div class="card-body">
                    <h5 class="card-title">How it Works</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem expedita unde repellat veritatis sequi aliquid consequatur. Assumenda cupiditate quae neque, eaque, incidunt vero temporibus, et laboriosam sunt nulla deleniti illum!
                        Asperiores tempore corrupti inventore, magni molestias perspiciatis id quos? Fugit nulla omnis sequi, odit ratione voluptatibus deserunt, facere ullam possimus minus ab at maiores voluptates porro quisquam? Dolore, similique consectetur.
                        Velit eveniet dolores, cum iure aspernatur aliquam doloremque dignissimos sit labore! Molestias hic voluptates exercitationem, nemo necessitatibus laborum. Quam nobis nemo aut recusandae harum molestiae. Aliquid ipsa architecto et officiis.
                        Debitis blanditiis, sunt cupiditate porro in natus quaerat architecto odit quod quis saepe exercitationem hic quas ex excepturi animi odio fugit repellat! Dolore quae soluta vero officiis, cupiditate quaerat veniam!
                        Necessitatibus adipisci sit nisi tempore nobis minus, error tempora doloribus et rerum nostrum, cupiditate placeat, corrupti molestias ipsam veritatis consequatur est sequi qui ducimus soluta velit optio dignissimos perferendis? Cumque!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>