<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newDestination">Add Destination</button>
<div class="modal fade" id="newDestination" tabindex="-1" aria-labelledby="newDestinationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="newDestinationLabel">New Destination</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/destinations/new" method="POST">
                    <label class="form-label" for="city">City</label>
                    <input class="form-control" id="city" type="text" name="city">
                    
                    <label class="form-label" for="state-or-country">State/Country</label>
                    <input class="form-control" id="state-or-country" type="text" name="stateOrCountry">
                
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" id="image" type="text" name="image">
                
                    <label class="form-label" for="population">Population</label>
                    <input class="form-control" id="population" type="text" name="population">
                    
                    <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" data-bs-dismiss="modal"></a>
            </div>
        </div>
    </div>
</div>