<h2>Add New Travel Destination</h2>

<form action="/destinations/new" method="POST">
    <label for="city">City</label>
    <input id="city" type="text" name="city">
  
    <label for="state-or-country">State/Country</label>
    <input id="state-or-country" type="text" name="stateOrCountry">

    <label for="image">Image URL</label>
    <input id="image" type="text" name="image">

    <label for="population">Population</label>
    <input id="population" type="text" name="population">
  
    <input type="submit" value="Add">
</form>